# REMOTEPROC gets selected by whoever wants it
config REMOTEPROC
	tristate

config OMAP_REMOTEPROC
	tristate "OMAP remoteproc support"
	depends on ARCH_OMAP4
	select OMAP_IOMMU
	select REMOTEPROC
	select OMAP_MBOX_FWK
	select RPMSG
	default m
	help
	  Say y here to support OMAP's remote processors (dual M3
	  and DSP on OMAP4) via the remote processor framework.

	  Usually you want to say y here, in order to enable multimedia
	  use-cases to run on your platform (multimedia codecs are
	  offloaded to remote DSP processors using this framework).

	  It's safe to say n here if you're not interested in multimedia
	  offloading or just want a bare minimum kernel.

config KEYSTONE_REMOTEPROC
	tristate "Keystone remoteproc support"
	depends on TI_KEYSTONE
	select REMOTEPROC
	default y
	help
	  Say y here to support remote processors (C66x DSPs) on the Keystone
	  architecture, via the remote processor framework.

	  Usually you want to say y here, in order to load up and manage
	  remote DSP devices on your platform.

	  It's safe to say n here if you're not interested in remote DSP
	  management, or if you want a minimal kernel build.
